.nav-bar-comp {
  color: var(--white-color);
  display: flex;
  justify-content: space-between;
  padding: 2em 4em;
  border-bottom: 1px solid var(--font-platinum-color);
  background-image: linear-gradient(
    180deg,
    var(--blue-background),
    var(--dark-blue-background)
  );
  align-items: center;
}
.logo-comp {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: auto;
  height: auto;
  border-radius: 150px;
  background-image: linear-gradient(
    90deg,
    var(--blue-logo-color),
    var(--red-coral-logo-color),
    var(--yellow-logo-color)
  );
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  cursor: pointer;
  animation: scale-up 0.2s forwards;
}
@keyframes scale-up {
  0% {
    opacity: 0;
    scale: 0;
  }
  90% {
    opacity: 1;
    scale: 1.2;
  }
  100% {
    opacity: 1;
    scale: 1;
  }
}
.menu-list-comp {
  list-style: none;
  display: flex;
}
.menu-list-comp li {
  list-style: none;
  margin: 0 24px;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
}
.link-menu {
  color: var(--white-color);
  text-decoration: none;
}
.link-menu:hover {
  color: var(--font-platinum-color);
}
/* .menu-list-comp li:first-child {
  color: var(--font-platinum-color);
  opacity: 0.7;
} */
.menu-footer h3 {
  text-align: right;
}
/* .mob-menu {
  display: flex;
} */
@media only screen and (max-width: 1000px) {
  .nav-bar-comp {
    padding: 1em 2em;
  }
  .logo-comp {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: auto;
    height: auto;
    border-radius: 100%;
    background-image: linear-gradient(
      90deg,
      var(--blue-logo-color),
      var(--red-coral-logo-color),
      var(--yellow-logo-color)
    );
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    cursor: pointer;
    animation: scale-up 0.2s forwards;
  }
  .menu-icon {
    position: relative;
    width: 1.5em;
    height: 1.5em;
  }
  .mob-menu {
    animation: slideLeft 2s ease-in-out;
    position: absolute;
    top: 5.5em;
    right: 0;
    display: block;
    margin: auto;
    background-color: red;
    z-index: 100;
    height: max-content;
    transform: translateX(100%);
    overflow: hidden;
  }
  .menu-list-comp {
    display: none;
  }
  .mob-menu .menu-list-comp {
    animation: slideRight 2s ease-in-out;
    position: absolute;
    top: 5.5em;
    right: 0;
    margin: auto;
    background-color: red;
    z-index: 100;
    height: max-content;
    transform: translateX(100%);
    overflow: hidden;
  }
}
@keyframes slideLeft {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(50%);
  }
}
@keyframes slideRight {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}
